.zitem {
	width:175px;
	height:175px;
	margin:5px 5px 5px 0;

	/* required to hide the image after resized */
	overflow:hidden;

	/* for child absolute position */
	position:relative;

	/* display div in line */
	float:left;
}

.zitem .caption {
	width:175px;
	height:175px;
	background:#ffffff;
	color:#fff;
	font-weight:bold;

	/* fix it at the bottom */
	position:absolute;
	bottom:-1px; /* fix IE issue */
	left:0;

	/* hide it by default */
	display:none;

	/* opacity setting */
	filter:alpha(opacity=50);    /* ie  */
	-moz-opacity:0.5;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.5;    /* for really really old safari */
	opacity: 0.5;    /* css standard, currently it works in most modern browsers like firefox,  */

}

.zitem .caption a {
	text-decoration:none;
	color:#fff;
	font-size:12px;

	/* add spacing and make the whole row clickable*/
	padding:0px;
	display:block;
}

.zitem .info {
  width:175px;
  height:175px;
  /* opacity setting */
  filter:alpha(opacity=100);    /* ie  */
  -moz-opacity:1.0;    /* old mozilla browser like netscape  */
  -khtml-opacity: 1.0;    /* for really really old safari */
  opacity: 1.0;    /* css standard, currently it works in most modern browsers like firefox,  */
  padding: 20%;
  position: relative;
  top: -175px;
  /* hide it by default */
  display:none;
}

.clear {
	clear:both;
}
