@media only screen and (max-width: 480px) {
	.centered-content {
		position: absolute;
		top: 5%;
		width: 100%;
	}
}

body {
	font-family: 'SimHei', 'STHeiti', sans-serif;
	font-weight: normal;
	color: #ffffff;
	height:100%;
	text-rendering: optimizeLegibility;
}

img {
	border-radius: 5px;
}

.container-fluid {
  height:100%;
	background-color: #ffffff;
	padding-right: 0px;
	padding-left: 0px;
}

.container-grid {
	background-color: #ffffff;
	height:100%;
}

.container-demopolicy {
	background-color: #f0f4f5;
	height:100%;
}

.header-overlay {
	background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.5);
	height:100%;
}

.text-overlay {
	height:100%;
}

.text-centered {
	text-align: center;
}

.centered-content {
	position: absolute;
	top: 30%;
	width: 100%;
}

.article-content {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

.menu-options {
	margin-top: 150px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* Menu in non-sticky state */
.menu {
    position: absolute;
    bottom: 10px;
		width: 100%;
		height: 50px;
		text-align: center;
		z-index: 10;
		color: #ffffff;
}

.menu a:link {
	color: #ffffff;
}
.menu a:hover {
	color: #ffffff;
}
.menu a:visited {
	color: #ffffff;
}
.menu a:active {
	color: #ffffff;
}

.articles-container {
	background-color: rgb(250, 250, 250);
}

 /* Phone */
@media only screen and (min-width: 480px) {
	.container-image {
		background: url('../assets/cover.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		height:80%;
		background-position: center 49.9%;
		background-repeat: no-repeat;
	}
	.row {
		min-height: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.articles-container {
		min-height: 130%;
	}
}
 /* Tablet */
@media only screen and (min-width: 768px) {
	.container-image {
		background: url('../assets/cover.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		height:100%;
		background-position: center 49.9%;
		background-repeat: no-repeat;
	}
	.row {
		min-height: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.articles-container {
		min-height: 80%;
	}
}


.sticky {
    position:fixed;
    top:0px;
		width: 100%;
		color: #6e9ec7;
}

.sticky a:link {
	color: #6e9ec7;
}
.sticky a:hover {
	color: #6e9ec7;
}
.sticky a:visited {
	color: #6e9ec7;
}
.sticky a:active {
	color: #6e9ec7;
}

.section-panel {
	height: 200%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
}

#cboxOverlay {
	background-color: #ffffff;
}

.lightbox-container {
	background:rgb(232, 233, 236);
}

.lightbox-column {
	text-align: center;
	padding: 15px;
	height: 100%;
}

.lightbox-column h3 {
	padding-top: 10px;
}

.lightbox-column img {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	height: 65%;
}

.lightbox-column iframe {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
}

.social-footer {
  position: relative;
  width: 100%;
  list-style: none;
}
.social-footer.circle li a {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.social-footer li {
  margin-top: 10px;
  display: inline-block;
  width: 44px;
  padding: 0 2px;
}
.social-footer li a {
  display: block;
  width: 40px;
  padding: 13px 10px;
  font-size: 14px;
  line-height: 1;
  background: #ffffff;
  color: #373e45;
  opacity: 0.6;
}
.social-footer li a:hover {
  opacity: 1;
}
.social-footer li a .social-ebay {
  margin-left: -6px;
}
.social-footer li a .social-gmail {
  margin-left: -3px;
  font-size: 13px;
}
.social-footer li a .social-vimeo {
  margin-left: -3px;
}
.social-footer li a .social-tweets,
.social-footer li a .social-weibo {
  margin-left: -1px;
}
.social-footer li a .social-medium {
  margin-left: -2px;
}
.social-footer li a .social-vimeo {
  font-size: 13px;
}
