a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.description {
	font-size: 20px;
	line-height: 1.5;
	padding-left: 40px;
	padding-right: 40px;
}

.description h1 {
	font-size: 108px;
	color: #ffffff;
	font-family: 'SimHei', 'STHeiti', sans-serif;
}

.description h3 {
	font-size: 20px;
	line-height: 1.5;
	margin-top: 40px;
	color: #ffffff;
	font-family: 'SimHei', 'STHeiti', sans-serif;
}

.demo-policy {
	padding-left: 50px;
	padding-right: 50px;
}

.demo-policy {
	font-family: Montserrat, sans-serif;
}

.demo-policy h2 {
	font-size: 50px;
	font-weight: 500;
}

.demo-policy h2 a {
	font-size: 50px;
	font-weight: 500;
}