a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.description {
	font-size: 20px;
	line-height: 1.5;
	padding-left: 40px;
	padding-right: 40px;
}

.description h3 {
	font-size: 20px;
	line-height: 1.5;
	margin-top: 40px;
	color: #ffffff;
	font-family: 'SimHei', 'STHeiti', sans-serif;
}

.article-text {
  text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.article-text {
	font-family: Montserrat, sans-serif;
}

.row h2 {
	font-size: 50px;
	font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 480px) {
  .description h1 {
  	font-size: 30px;
  	color: #ffffff;
  	font-family: 'SimHei', 'STHeiti', sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .description h1 {
  	font-size: 108px;
  	color: #ffffff;
  	font-family: 'SimHei', 'STHeiti', sans-serif;
  }
}
